/* flex */
.flex {
    display: flex;
    align-items: center;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.g-20 {
    gap: 20px;
}
/* margins */
.mr-40 {
    margin-right: 40px;
}
/* positions */
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}