:root {
    --p-orange: hsl(26, 100%, 55%);
    --p-pale-orange: hsl(25, 100%, 94%);
    --n-dark-blue: hsl(220, 13%, 13%);
    --n-dark-grayish-blue: hsl(219, 9%, 45%);
    --n-grayish-blue: hsl(220, 14%, 75%);
    --main-transition: 0.6s;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Kumbh Sans', sans-serif;
}
/* global components */
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
p {
    line-height: 1.7;
}
img {
    cursor: pointer;
}
/* input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=number] {
    -moz-appearance: textfield;
}
.container {
    padding-left: 15px ;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Media queries */
/* -----------small screens---------- */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
/* -----------medium screens---------- */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
/* -----------big screens---------- */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
/* end global components */
/* navbar */
header {
    /* position: relative; */
}
header .container {
    padding: 40px 0;
    border-bottom: 1px solid var(--n-grayish-blue)
}
header .container .menu {
    display: none;
}
header .container .nav .close {
    display: none;
}
header .container .nav li {
    margin-right: 20px;
    font-weight: bold;
    position: relative;
}
header .container .nav li::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -56px;
    width: 0;
    height: 4px;
    background-color: var(--p-orange);
    transition: var(--main-transition);
}
header .container .nav li:hover::before {
    width: 100%;
}
header .container .nav li a {
    color: var(--n-grayish-blue);
    transition: var(--main-transition);
}
header .container .nav li a:hover {
    color: var(--n-dark-grayish-blue);
}
header .container .avatar {
    width: 50px;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: var(--main-transition);
}
header .container .avatar:hover {
    border-color: var(--p-orange);
}
header .container .cart {
    display: none;
}
header .container .cart .head {
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid var(--n-grayish-blue);
}
header .container .cart .content {
    padding: 10px;
    height: 150px;
}
header .container .cart .content h4 {
    text-align: center;
    color: var(--n-dark-grayish-blue);
}
header .container .cart.active {
    display: unset;
    position: absolute;
    top: calc(100% + 45px);
    right: 0;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.6);
    z-index: 2;
}
/* page section */
.page .container .images {
    flex-direction: column;
}
.page .container .images #selected-img {
    width: 350px;
    height: 400px;
    border-radius: 10px;
}
.page .container .image-list li {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border: 4px solid transparent;
    border-radius: 12px;
}
.page .container .image-list li.active {
    border-color: var(--p-orange);
}
.page .container .image-list li.active img {
    filter: opacity(25%)
}
.page .container .image-list img {
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    transition: var(--main-transition);
}
.page .container .image-list img:hover {
    filter: opacity(50%);
}
.page .content .price {
    width: fit-content;
}
.page .content .price span {
    padding: 5px;
    margin-left: 5px;
    color: var(--p-orange);
    background-color: var(--p-pale-orange);
    border-radius: 4px;
}
.page .content .old-price {
    text-decoration: line-through;
}
.page .content .quantity {
    background-color: var(--n-grayish-blue);
    padding: 10px;
    border-radius: 10px;
}
.page .content .quantity input {
    width: 80px;
    background-color: var(--n-grayish-blue);
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    border: 0;
    outline: 0;
}
.page .content button {
    padding: 10px;
    width: 300px;
    border: 0;
    border-radius: 10px;
    background-color: var(--p-orange);
    color: white;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
    transition: var(--main-transition);
    box-shadow: 0px 10px 10px 0px rgba(255,124,55,0.7);
    -webkit-box-shadow: 0px 10px 10px 0px rgba(255,124,55,0.7);
    -moz-box-shadow: 0px 10px 10px 0px rgba(255,124,55,0.7);
}
.page .content button:hover {
    filter: opacity(75%);
}   
/* MEDIA QUERIES */
@media (max-width: 1200px) {
    .page .container {
        flex-direction: column;
    }
}
@media (max-width: 768px) {
    header .container {
        padding: 20px;
    }
    header .container .menu {
        display: unset;
        margin: 0 20px 0 0;
    }
    header .container .nav {
        background-color: white;
        position: fixed;
        top: 0;
        left: -100%;
        flex-direction: column;
        align-items: flex-start;
        width: 70%;
        height: 100%;
        padding: 40px;
        transition: var(--main-transition);
        z-index: 1;
    }
    header .container .nav.active {
        left: 0;
        box-shadow: 230px 0px 0px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 230px 0px 0px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 230px 0px 0px 0px rgba(0,0,0,0.75);
    }
    header .container .nav li {
        margin: 20px 0 0 ;
    }
    header .container .nav li:hover::before {
        display: none;
    }
    header .container .nav li a {
        color: black;
    }
    header .container .nav .close {
        display: unset;
        margin-bottom: 50px;
    }
    .page .content .quantity {
        width: 100%;
        justify-content: space-around;
    }
    .page .content button {
        width: 100%;
    }
}